<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Veiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo De Veiculo</ion-label>
      <ion-select>
        <ion-select-option>Moto</ion-select-option>
        <ion-select-option>Carro</ion-select-option>
        <ion-select-option>Motoneta</ion-select-option>
        <ion-select-option>Furgão</ion-select-option>
        <ion-select-option>Caminhão VUC</ion-select-option>
        <ion-select-option>Caminhão Truck</ion-select-option>
        <ion-select-option>Caminhão Carreta</ion-select-option>
        <ion-select-option>Caminhão Rodotrem</ion-select-option>
        <ion-select-option>Caminhão Caçamba</ion-select-option>
        <ion-select-option>Máquinas de pequeno porte</ion-select-option>
        <ion-select-option>Máquinas de grande porte</ion-select-option>
        <ion-select-option>Mincro-ônibus</ion-select-option>
        <ion-select-option>Ônibus</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Modelo De Veiculo</ion-label>
      <ion-select>
        <ion-select-option>Corsa</ion-select-option>
        <ion-select-option>Celta</ion-select-option>
        <ion-select-option>Onix</ion-select-option>
        <ion-select-option>Prisma</ion-select-option>
        <ion-select-option>Captiva</ion-select-option>
        <ion-select-option>Classic</ion-select-option>
        <ion-select-option>Vectra</ion-select-option>
        <ion-select-option>Cobalt</ion-select-option>
        <ion-select-option>Agie</ion-select-option>
        <ion-select-option>Punto</ion-select-option>
        <ion-select-option>Siena</ion-select-option>
        <ion-select-option>Uno</ion-select-option>
        <ion-select-option>Palio</ion-select-option>
        <ion-select-option>Mobi</ion-select-option>
        <ion-select-option>Toro</ion-select-option>
        <ion-select-option>Strada</ion-select-option>
        <ion-select-option>Palio Weekend</ion-select-option>
        <ion-select-option>Gol</ion-select-option>
        <ion-select-option>Fox</ion-select-option>
        <ion-select-option>UP</ion-select-option>
        <ion-select-option>Saveiro</ion-select-option>
        <ion-select-option>Voyage</ion-select-option>
        <ion-select-option>Fusca</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Placa</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Renavam</ion-label>
      <ion-input type="text" placeholder="Digite o renavan"></ion-input>
    </ion-item>
  
    </ion-list>

    <ion-button color="primary">Salvar</ion-button>

</ion-content>
