<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list id="inbox-list">
  <ion-titulo>
    <ion-H>ESTAPAR VAGA INTELIGENTE, O APP COMPLETO EM MOBILIDADE URBANA!</ion-H>
  </ion-titulo>
</ion-list>

<ion-p>
<p>
  O aplicativo gratuito da Estapar traz até a palma da sua mão todas as facilidades que você precisa para 
  ganhar tempo no seu dia a dia.
</p>
<p>
     Se você vai viajar, curtir um show, estudar, tornar-se mensalista ou fazer 
  compras no comércio, o aplicativo Vaga Inteligente é a solução para você estacionar com comodidade e 
  segurança.
</p>
<p>
  Como o App Vaga Inteligente você tem muito mais comodidade para estacionar seu carro nos 
  estacionamentos rotativos publicos. Você usa a Zona Azul Digital em mais 20 cidades.
</p>
</ion-p>
</ion-content>

