ion-toolbar {
    --background: var(--ion-item-background, var(--ion-background-color,#D4F809 ));
  }

  ion-p {
    --background: var(--ion-item-background, var(--ion-background-color,#f8f8f8 ));
  }

  ion-titulo{
    border-top: 20%;
    text-align: justify;
    color: #199700;
  }
  p{
    text-align: justify;
  }